<div class="container">
  <header class="my-4">
    <!-- ... Seu cabeçalho Bootstrap aqui ... -->
  </header>

  <!-- Conteúdo adicional da página -->
  <div id="content">
    <!-- ... Seu conteúdo aqui ... -->
  </div>

  <ngb-carousel style="height: 500px"
                #carousel
                [showNavigationArrows]="false"
                [showNavigationIndicators]="false"
                [keyboard]="false"
                [interval]="0">
    <ng-template ngbSlide>
      <!-- Botão para rolar a página -->
      <div class="d-flex w-100 align-items-center justify-content-center flex-column" style="margin-bottom: 30px; height: 80vh">
        <div class="align-items-center justify-content-center flex-column d-flex">
          <img ngSrc="assets/img/QGTt.png" height="245" width="500">
          <h5>Ferramenta de Auxílio à Criação de Jogos</h5>
        </div>
        <div class="">
          <button class="btn btn-primary button-purple my-3" (click)="nextSlide()">Começar</button>
        </div>
      </div>
    </ng-template>

    <ng-template ngbSlide *ngFor="let s of slides">
      <div class="tamanhopagina d-flex flex-column align-items-center justify-content-center">
        <h3>{{s.pergunta}}</h3>
        <h5>{{s.explicacao}}</h5>

        <div class="d-flex w-100 align-items-center justify-content-center flex-wrap overflow-auto">
          <div *ngFor="let o of s.opcoes" (click)="onSelect(o, s)"
               class="px-4 d-flex flex-column align-items-center justify-content-center cursor">
            <img src="{{o.imagem}}" class="imagem-opcao my-2" [class.selecionada]="o.selecionada" [class.small]="s.opcoes.length > 5">
            <span class="unselectable"><strong>{{o.nome}}</strong></span>
          </div>
        </div>

        <span *ngIf="s.escolhaMultipla && !showContinue(s)" class="text-white my-4">Escolha entre uma e {{s.escolhasMaximas}} opções!</span>
        <button class="btn btn-primary button-purple my-4" *ngIf="s.escolhaMultipla && showContinue(s)" (click)="continuar(s)">Continuar</button>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="d-flex flex-column w-100 align-items-center" *ngIf="maiorPontos">
        <div>
          <img src="{{imagensEngines[maiorPontos]}}" class="imagem-opcao mx-2">
          <img *ngIf="maiorPontos2" src="{{imagensEngines[maiorPontos2]}}" class="imagem-opcao mx-2">
          <img *ngIf="maiorPontos3" src="{{imagensEngines[maiorPontos3]}}" class="imagem-opcao mx-2">
        </div>
        <h2 class="my-1"><strong>{{maiorPontos}}<span *ngIf="maiorPontos2">/{{maiorPontos2}}</span><span *ngIf="maiorPontos3">/{{maiorPontos3}}</span></strong></h2>
        <h5 class="my-1">{{descricoesEngines[maiorPontos]}} <a class="my-1" href="{{linksEngines[maiorPontos]}}" target="_blank">Ir para a página da engine</a> </h5>

        <span>Esta é a mais recomendada para a sua situação, veja uma análise com visão em gráfico clicando no botão abaixo, indicando outras duas recomendações de engines para o seu projeto.</span>
        <button class="btn btn-primary button-purple my-3" (click)="mostrarGrafico = !mostrarGrafico">Ver mais</button>

        <div class="d-flex flex-row align-items-center justify-content-between">
          <canvas baseChart *ngIf="mostrarGrafico"
                  [type]="'pie'"
                  [datasets]="pieChartDatasets"
                  [labels]="pieChartLabels"
                  [options]="pieChartOptions"
                  [plugins]="pieChartPlugins"
                  [legend]="pieChartLegend">
          </canvas>

          <canvas baseChart *ngIf="mostrarGrafico"
                  [data]="barChartData"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [legend]="barChartLegend"
                  [type]="'bar'">
          </canvas>
        </div>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="tamanhopagina">
        <app-formulario></app-formulario>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
