<div class="container">
  <header class="my-4">
    <!-- ... Seu cabeçalho Bootstrap aqui ... -->
  </header>

  <!-- Conteúdo adicional da página -->
  <div id="content">
    <!-- ... Seu conteúdo aqui ... -->
  </div>

  <ngb-carousel style="height: 500px"
                #carousel
                [showNavigationArrows]="false"
                [showNavigationIndicators]="false"
                [interval]="0">
    <ng-template ngbSlide>
      <!-- Botão para rolar a página -->
      <div class="d-flex w-100 align-items-center justify-content-center flex-column" style="margin-bottom: 30px; height: 80vh">
        <div class="">
          <img ngSrc="assets/img/QGTt.png" height="245" width="500">
        </div>
        <div class="">
          <button class="btn btn-primary button-purple" (click)="scrollToContent()">Começar</button>
        </div>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="tamanhopagina">
        <app-formulario></app-formulario>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
