<div class="container">
  <header class="my-4">
    <!-- ... Seu cabeçalho Bootstrap aqui ... -->
  </header>

  <!-- Conteúdo adicional da página -->
  <div id="content">
    <!-- ... Seu conteúdo aqui ... -->
  </div>

  <ngb-carousel style="height: 500px"
                #carousel
                [showNavigationArrows]="false"
                [showNavigationIndicators]="false"
                [keyboard]="false"
                [interval]="0">
    <ng-template ngbSlide>
      <!-- Botão para rolar a página -->
      <div class="d-flex w-100 align-items-center justify-content-center flex-column" style="margin-bottom: 30px; height: 80vh">
        <div class="">
          <img ngSrc="assets/img/QGTt.png" height="245" width="500">
        </div>
        <div class="">
          <button class="btn btn-primary button-purple" (click)="nextSlide()">Começar</button>
        </div>
      </div>
    </ng-template>

    <ng-template ngbSlide *ngFor="let s of slides">
      <div class="tamanhopagina d-flex flex-column align-items-center justify-content-center">
        <h3>{{s.pergunta}}</h3>
        <h5>{{s.explicacao}}</h5>

        <div class="d-flex w-100 align-items-center justify-content-center flex-wrap overflow-auto">
          <div *ngFor="let o of s.opcoes" (click)="onSelect(o, s)"
               class="px-4 d-flex flex-column align-items-center justify-content-center cursor">
            <img src="{{o.imagem}}" class="imagem-opcao my-2" [class.selecionada]="o.selecionada" [class.small]="s.opcoes.length > 5">
            <span class="unselectable"><strong>{{o.nome}}</strong></span>
          </div>
        </div>

        <span *ngIf="s.escolhaMultipla && !showContinue(s)" class="text-white my-4">Escolha entre uma e {{s.escolhasMaximas}} opções!</span>
        <button class="btn btn-primary button-purple my-4" *ngIf="s.escolhaMultipla && showContinue(s)" (click)="continuar(s)">Continuar</button>
      </div>
    </ng-template>

<!--    <ng-template ngbSlide>-->
<!--      <div class="tamanhopagina">-->
<!--        <mat-form-field>-->
<!--          <div>-->
<!--            <mat-label>Nome do Jogo</mat-label>-->
<!--            <input matInput placeholder="Escreva o nome do jogo">-->
<!--          </div>-->
<!--          <div>-->
<!--            <mat-label>Faixa Etária</mat-label>-->
<!--            <ng-select placeholder="Escolha o tipo de conexão do jogo..."-->
<!--                       formControlName="conexao"-->
<!--                       [searchable]="true"-->
<!--                       [items]="conexoes" bindValue="id" bindLabel="nome"></ng-select>-->
<!--          </div>-->
<!--          <div>-->
<!--            <mat-label>Descrição do Jogo</mat-label>-->
<!--            <input matInput placeholder="Descreva brevemente o jogo">-->
<!--          </div>-->
<!--          <div>-->
<!--            <mat-label>Público Alvo</mat-label>-->
<!--            <input matInput placeholder="Descreva o público alvo do jogo">-->
<!--          </div>-->
<!--          <div>-->
<!--            <mat-label>Nome da Pessoa Física/Jurídica</mat-label>-->
<!--            <input matInput placeholder="Escreva o nome do criador do jogo">-->
<!--          </div>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--    </ng-template>-->

    <ng-template ngbSlide>
      <div class="tamanhopagina">
        <app-formulario></app-formulario>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
