<form [formGroup]="formGroup" (submit)="onSubmit()">
  <div>
   <div>
     <ng-select placeholder="Escolha a estrutura para o jogo..."
                formControlName="estrutura"
                [searchable]="true"
                [items]="estruturas" bindValue="id" bindLabel="nome"></ng-select>
   </div>
    <div>
      <ng-select placeholder="Escolha até 3 categorias para o jogo..."
                 formControlName="categoria"
                 [searchable]="true"
                 [multiple]="true"
                 [maxSelectedItems]="3"
                 [items]="categorias" bindValue="id" bindLabel="nome"></ng-select>
    </div>
    <div>
      <ng-select placeholder="Escolha até 3 gêneros para o jogo..."
                 formControlName="genero"
                 [searchable]="true"
                 [multiple]="true"
                 [maxSelectedItems]="3"
                 [items]="generos" bindValue="id" bindLabel="nome"></ng-select>
    </div>
    <div>
      <ng-select placeholder="Escolha a perspectiva do jogo..."
                 formControlName="visao"
                 [searchable]="true"
                 [items]="visoes" bindValue="id" bindLabel="nome"></ng-select>
    </div>
    <div>
      <ng-select placeholder="Escolha o tipo de controle do jogo..."
                 formControlName="controle"
                 [searchable]="true"
                 [items]="controles" bindValue="id" bindLabel="nome"></ng-select>
    </div>
    <div>
      <ng-select placeholder="Escolha o tipo de mapa do jogo..."
                 formControlName="mapa"
                 [searchable]="true"
                 [items]="mapas" bindValue="id" bindLabel="nome"></ng-select>
    </div>
    <div>
      <ng-select placeholder="Escolha o tipo de conexão do jogo..."
                 formControlName="conexao"
                 [searchable]="true"
                 [items]="conexoes" bindValue="id" bindLabel="nome"></ng-select>
    </div>
    <div>
      <ng-select placeholder="Escolha qual será a plataforma do jogo..."
                 formControlName="plataforma"
                 [searchable]="true"
                 [items]="plataformas" bindValue="id" bindLabel="nome"></ng-select>
    </div>
    <div>
      <mat-form-field>
        <mat-label class="tamanhocampo">História do Jogo</mat-label>
        <input matInput placeholder="Descreva brevemente a história do seu jogo...">
      </mat-form-field>
    </div>
    <input *ngIf="formGroup.valid" type="submit" value="Enviar">
  </div>
</form>
